[submodule "third_party/impeller-cmake"]
	path = third_party/impeller-cmake
	url = git@github.com:bdero/impeller-cmake.git
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = git@github.com:glfw/glfw.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = git@github.com:nothings/stb.git
